

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}.material-symbols-outlined{
    color: white;
    cursor: pointer;
}
.likes{
    color: white;
}
.post{
    height: 30rem;
    width: 20rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}.pic{
    width: 100%;
}.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;

}.likesharecmmnt{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}#likes{
    
    margin-left: 2rem;
    margin-top: 2rem;
   
}